/* Basic CSS for the navigation bar */
body {
    background-image: url("travel_website_background.jpg");
    background-repeat: no-repeat;
    background-size: 2560px 1600px;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: #caf3d8;
    color:white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
  }
  #siteName{
    font-size: 50px;
  }

  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  /* Basic CSS for the form elements */
  body {
    font-family: Arial, sans-serif;
    /* margin: 20px; */
  }
  
  .intro {
    display:block;
    margin-top: 10%;
    margin-left:10%;
    color:whitesmoke;
    font-style: italic;
    background-color: rgba(0, 0, 76, 0.2);
    max-width:40%;
    overflow:visible;
    height:auto;
  }

  .introP{
    display:block;
  }
  div {
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 76, 0.5);
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 200px;
    padding: 5px;
  }
  
  button {
    padding: 7px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Basic CSS for the report section */
  h2 {
    margin-top: 30px;
  }
  
  #report,#result {
    padding: 10px;
    max-width: 400px;
    word-wrap: break-word;
  }
#result{
  height: 400px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
  #result img{
    width: 200px;
    height: 100px;
  }
  
  #social{
    position: fixed;
    left:30px;
    bottom:30px;
    opacity: 90%;
  }

  #contact_form{
    display: block;
    position: fixed;
    top:15%;
    right:15%;
  }
  .container{
    width:100%;
  }

  #searchResults{
    max-width:500px;
    background-color: rgba(0, 0, 76, 0.5);
    margin-left:50%;
  }
  ul li{
    display: inline-block;
    width:25%;
    background:rgba(0, 0, 76, 0.5);
    border-radius: 15px;
    padding: 20px;
    align-content: center;
    margin-right: 20px;
  }